videos/
*.mp4
*.mov

.DS_Store
Thumbs.db

__pycache__/
*.py[cod]

.vscode/

*.h5
*.keras
*.pt
*.pth

*.pkl
*.zip
*.tar.gz

*.docx

beamng_sim/debug_output_old/
beamng_sim/object/object_detection.ipynb
DIRECTORY_STRUCTURE.md
src/perception/lane_detection/ufld/demo.py

local_media/

training/

# For now
docker/
services/